#login{
    display:block; 
    margin: auto; 
    width: 300pt; 
    background-color: #a52a2a; 
    margin-top: 80pt; 
    margin-bottom: 150pt;
    border-radius: 20pt;
    color: aliceblue;
    padding-left: 5pt;
    padding-right: 5pt;
}